# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Compilados
*.class

# IDEs
.idea/
*.iml
*.iws
*.ipr
.vscode/
.settings/
.project
.classpath
nbproject/private/
build/

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.log
